# Gradle
# Build your Java projects and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/vsts/pipelines/languages/java

resources:
  containers:
  - container: ubuntu18
    image: ubuntu:18.04
    options: "--name ci-container -v /usr/bin/docker:/tmp/docker:ro"

jobs:
  - job: Styleguide
    pool:
      vmImage: 'Ubuntu 16.04'

    container: ubuntu18

    steps:
        - script: |
            /tmp/docker exec -t -u 0 ci-container \
            sh -c "apt-get update && DEBIAN_FRONTEND=noninteractive apt-get -o Dpkg::Options::="--force-confold" -y install sudo"
          displayName: Set up sudo
        - script: |
            sudo apt-get update -y
            sudo apt-get install clang-format gcc g++ python3-setuptools python3-dev git -y
          displayName: 'Install Dependencies'
        - script: |
            git fetch --unshallow
            cd wpiformat
            python3 setup.py build
            sudo python3 setup.py install --optimize=1 --skip-build
          displayName: 'Build'
        - script: |
            py -3 setup.py test
            py -3 -m wpiformat -v
            cd wpiformat
            # One file
            py -3 -m wpiformat -f wpiformat\__init__.py -v

            # Absolute path to file
            py -3 -m wpiformat -f C:\projects\styleguide\wpiformat\wpiformat\__init__.py -v

            # Multiple files
            py -3 -m wpiformat -f wpiformat\__init__.py wpiformat\__main__.py -v

            #Directory
            py -3 -m wpiformat -f wpiformat -v

            git --no-pager diff --exit-code HEAD  # Ensure formatter made no changes
          displayName: 'Test'

  - job: WindowsStyleguide
    pool:
      vmImage: 'vs2017-win2016'

    steps:
      - script: |
          choco install llvm --version 6.0.1
        displayName: 'Install Dependencies'
      - script: |
          git fetch --unshallow
          cd wpiformat
          py -3 setup.py build
          py -3 setup.py install --optimize=1 --skip-build
        displayName: 'Build'
      - powershell: |
          py -3 setup.py test
          py -3 -m wpiformat -v
          cd wpiformat
          # One file
          py -3 -m wpiformat -f wpiformat\__init__.py -v

          # Absolute path to file
          py -3 -m wpiformat -f C:\projects\styleguide\wpiformat\wpiformat\__init__.py -v

          # Multiple files
          py -3 -m wpiformat -f wpiformat\__init__.py wpiformat\__main__.py -v

          #Directory
          py -3 -m wpiformat -f wpiformat -v

          git --no-pager diff --exit-code HEAD  # Ensure formatter made no changes
        displayName: 'Test'
