name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up main branch for versioning
      run: |
        git checkout -b pr
        git branch -f main origin/main

    - name: Build wpiformat package
      uses: hynek/build-and-inspect-python-package@v2
      with:
        path: wpiformat

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, windows-2022, ubuntu-24.04]
        python-version: ['3.11', '3.12', '3.13', '3.14']
    needs: [build]
    name: Test - ${{ matrix.os }}, ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Fetch all history and metadata
      run: |
        git checkout -b pr
        git branch -f main origin/main

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Download built artifact to dist/
      uses: actions/download-artifact@v4
      with:
        name: Packages
        path: dist

    - name: Install wpiformat
      run: |
        pip install dist/*.whl
      shell: bash

    - run: pip install pytest

    - name: Run unit tests
      run: |
        git config --global user.email "you@example.com"
        git config --global user.name "Your Name"
        cd wpiformat
        pytest

    - name: wpiformat - whole repo
      run: wpiformat -v

    - name: wpiformat - one file
      run: |
        cd wpiformat
        wpiformat -f wpiformat/__init__.py -v

    - name: wpiformat - absolute path to file
      shell: bash
      run: |
        wpiformat -f $GITHUB_WORKSPACE/wpiformat/wpiformat/__init__.py -v

    - name: wpiformat - multiple files
      run: |
        cd wpiformat
        wpiformat -f wpiformat/__init__.py wpiformat/__main__.py -v

    - name: wpiformat - directory
      run: wpiformat -f wpiformat -v

    # Verify wpiformat reports an error if no default branch exists
    - name: Git repo with no branches
      shell: bash
      run: |
        rm -rf branch-test
        mkdir branch-test && cd branch-test && git init
        if wpiformat; then
          exit 1
        fi

    # Verify wpiformat reports an error if default branch exists but wasn't provided
    - name: Git repo with default branch not provided
      shell: bash
      run: |
        rm -rf branch-test
        git config --global init.defaultBranch develop
        mkdir branch-test && cd branch-test && git init
        touch .wpiformat && git add .wpiformat && git commit -q -m "Initial commit"
        if wpiformat; then
          exit 1
        fi

    # Verify wpiformat reports success if default branch exists and was provided
    - name: Git repo with default branch provided
      shell: bash
      run: |
        rm -rf branch-test
        git config --global init.defaultBranch develop
        mkdir branch-test && cd branch-test && git init
        touch .wpiformat && git add .wpiformat && git commit -q -m "Initial commit"
        wpiformat -default-branch develop

    # Verify wpiformat reports success if main branch exists
    - name: Git repo with main branch
      shell: bash
      run: |
        rm -rf branch-test
        git config --global init.defaultBranch main
        mkdir branch-test && cd branch-test && git init
        touch .wpiformat && git add .wpiformat && git commit -q -m "Initial commit"
        wpiformat

    # Verify wpiformat reports success if master branch exists
    - name: Git repo with master branch
      shell: bash
      run: |
        rm -rf branch-test
        git config --global init.defaultBranch master
        mkdir branch-test && cd branch-test && git init
        touch .wpiformat && git add .wpiformat && git commit -q -m "Initial commit"
        wpiformat

    - name: Delete branch-test folder
      shell: bash
      run: rm -rf branch-test

    - name: Ensure formatter made no changes
      run: git --no-pager diff --exit-code HEAD

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [test]
    if: github.repository_owner == 'wpilibsuite' && github.ref == 'refs/heads/main'
    environment:
      name: pypi
      url: https://pypi.org/p/wpiformat
    permissions:
      id-token: write
    steps:
      - name: Download built artifact to dist/
        uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist

      - name: Upload package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
